//
//  Secrets.xcconfig
//  NitroGoogleSsoExample
//
//  Created by Patrick Kabwe on 15/05/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GID_CLIENT_ID = 2213441010-lf1shrv01gk4vklac6tlmdi9ks7mn58t.apps.googleusercontent.com
GID_SERVER_CLIENT_ID = 2213441010-bfa6hjn38moa8ijfp71kcu1bklvmqroh.apps.googleusercontent.com
GID_URL_SCHEME = com.googleusercontent.apps.2213441010-lf1shrv01gk4vklac6tlmdi9ks7mn58t
